<table align="Center" width="70%">
    <tr>
        <td align="Center">
            <h1>Fluxei</h1>
            <p>&nbsp</p>
            <h3>Ops! Aconteceu algo inesperado aqui em casa!</h3>
            <p>Já vamos trabalhar pra solucionar essa parada. Aguarde e confie.</p>
            {{#if message}}
                <p>{{message}}</p>
                <p>{{error}}</p>
            {{/if}}
        </td>
    </tr>
</table>