<table align="Center" width="70%">
		<tr>
			<td align="Center">
				<h1>Fluxei</h1>
				<p>&nbsp</p>
				<h3>Acesse o código-fonte deste aplicativo no <a href="https://github.com/a-plataforma/nodeproject">Github</a>.</h3>
				<h3>Acesse o site: <a href="http://fluxei.com"><strong>Fluxei</strong></a>.</h3>
				<p>&nbsp</p>
				<h1><a href="/#/">Entrar agora</a></h1>
			</td>
		</tr>
	</table>