<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Esqueceu a Senha?</h2>
                        <p>Digite o e-mail abaixo. Enviaremos uma mensagem com instruções pra você obter uma nova
                            senha.</p>
                        <div class="panel-body">
                            <form class="form" action="/auth/forgot-password" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-envelope color-blue"></i>
                                                </span>
                                            <input id="email" name="email" placeholder="endereço de e-mail"
                                                   class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Enviar"/>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>