<h1 style="font-size: 5em">Fluxei</h1>
<hr/>
<div style="font-size: 2em">
    <p style="margin-bottom: 50px">Uma experiência para indivíduos complementares em suas intenções e habilidades se
        descobrirem uns aos outros e se
        conectarem para materializar as causas que fazem vibrar seus corações.</p>
    <p style="margin-bottom: 50px"><strong>Um novo conceito!</strong></p>
    <p style="margin-bottom: 50px">Conectar pessoas que querem EMPREENDER em torno das CAUSAS mais diversas, colocar
        DINHEIRO no bolso delas e
        ajudá-las a EXECUTAR o trabalho de forma DISTRIBUÍDA.</p>
    <p style="margin-bottom: 50px">Clique <a
            href="https://medium.com/a-plataforma/projeto-a-plataforma-31aab705017f#.n2bw2jz05" target="_blank">aqui</a> e leia nosso
        artigo no MEDIUM sobre a iniciativa. E se você sentir o chamado no seu coração deixe um
        comentário com o seu e-mail e enviaremos um convite para você entrar no SLACK do projeto, que é onde estamos</p>
    <p style="margin-bottom: 50px">Conecte-se com a gente nas redes sociais e fique por dentro do que está acontecendo
        no projeto!</p>
</div>