<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <h2 class="text-center">Redefinir Senha</h2>
                        <p class="text-center">Digite a sua nova senha nos campos abaixo.</p>
                        <div class="panel-body">
                            <form action="/auth/reset-password/{{code}}" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="new_password">Senha Nova</label>
                                        <input type="password" class="form-control" name="new_password">
                                    </div>
                                    <div class="form-group">
                                        <label for="password_confirmation">Confirmação da Senha</label>
                                        <input type="password" class="form-control" name="password_confirmation">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Enviar"/>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>