@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 400px) {
	
	header .bar-menu { top: 0; left: -100%; width: 100%; height: auto; text-align: left; padding-top: 100px; }
	header .bar-menu.openMenu { left: 0; }
	header .bar-menu .scroll { display: block;}
	header .bar-menu a { display: block; }
	header .bar-menu .area-social { display: block; text-align: center; }
	header .bar-menu .area-social a { display: inline-block; }
	
	.title-section { padding: 20px 0; }
	.title-section h2 { font-size: 40px; line-height: 45px; }
	
	#destaque h2 { font-size: 65px; line-height: 70px; -webkit-animation-duration: 50s; }
	#destaque a.next-section { bottom: 30px; font-size: 25px; line-height: 40px; width: 40px; height: 40px; margin-left: -20px; border: 1px solid #b4b4b4; }
	
	#empresaLivre .area-text { max-width: 100%; padding: 40px 0; }
	#empresaLivre .area-text p { font-size: 20px; line-height: 30px; }
	
	#nossasStartups .list-startups .startup { width: 100%; float: none; margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #b4b4b4; }
	#nossasStartups .startup .content-startup { position: relative; top: inherit; left: inherit; }
	#nossasStartups .startup:hover .shadow-mask { background: none; }
	#nossasStartups .s-title { padding: 20px 15px; }
	#nossasStartups .s-title h3 { font-size: 40px; line-height: 50px; color: #414042; }
	#nossasStartups .s-title h4 { font-size: 20px; line-height: 30px; color: #414042; }
	#nossasStartups .intro-startup { padding: 0 15px; opacity: 1; }
	#nossasStartups .startup:hover .intro-startup { opacity: 1; }
	#nossasStartups .intro-startup p { font-size: 18px; line-height: 26px; margin-bottom: 15px; color: #414042;  }
	#nossasStartups .intro-startup a.goto-site { color: #414042; border: 2px solid #b4b4b4; padding: 6px; display: block; text-align: center; }
	#nossasStartups .intro-startup a.goto-site i { padding-left: 5px; }
	#nossasStartups .intro-startup a.goto-site:hover { background: none; }
	
	#quemSomos .list-members .co-member { width: 100%; float: none; overflow: inherit; margin-bottom: 30px; }
	#quemSomos .list-members .co-member .img-member span.shadow-mask { display: none; }
	#quemSomos .list-members .co-member:hover .img-member span.shadow-mask { display: none; } 
	#quemSomos .list-members .co-member .infos-member { position: relative; top: inherit; width: 100%; text-align: center; }
	#quemSomos .list-members .co-member:hover .infos-member { top: 0;
		-webkit-transform: translateY( 0 );
    	-moz-transform: translateY( 0 );
    	transform: translateY( 0 );
	}
	#quemSomos .list-members .co-member .infos-member a.social,
	#quemSomos .list-members .co-member .infos-member p { color: #414042; }
	
	#contato p { font-size: 20px; line-height: 30px; }
	#contato .area-form { width: 80%; padding: 15px; }
	#contato .area-form input.medium { width: 90%; display: block; margin: 0 auto 10px; }
	#contato .area-form input.medium:nth-child(2) { margin-bottom: 0; }
	
}

@media only screen and (min-width: 401px) and (max-width: 480px) {
	
	header .bar-menu { top: 0; left: -100%; width: 100%; height: auto; text-align: left; padding-top: 100px; }
	header .bar-menu.openMenu { left: 0; }
	header .bar-menu .scroll { display: block;}
	header .bar-menu a { display: block; }
	header .bar-menu .area-social { display: block; text-align: center; }
	header .bar-menu .area-social a { display: inline-block; }
	
	#destaque h2 { -webkit-animation-duration: 40s; }
	
	#empresaLivre .area-text { padding: 40px 0; }
	#empresaLivre .area-text p { font-size: 18px; line-height: 30px; padding: 0 20px; }
	
	#nossasStartups .list-startups .startup { width: 100%; float: none; margin-bottom: 30px; }
	#nossasStartups .startup .content-startup { position: relative; top: inherit; left: inherit; }
	#nossasStartups .startup:hover .shadow-mask { background: none; }
	#nossasStartups .s-title { padding: 20px 15px; }
	#nossasStartups .s-title h3 { font-size: 40px; line-height: 50px; color: #414042; }
	#nossasStartups .s-title h4 { font-size: 20px; line-height: 30px; color: #414042; }
	#nossasStartups .intro-startup { padding: 0 15px; opacity: 1; }
	#nossasStartups .startup:hover .intro-startup { opacity: 1; }
	#nossasStartups .intro-startup p { font-size: 18px; line-height: 26px; margin-bottom: 15px; color: #414042;  }
	#nossasStartups .intro-startup a.goto-site { color: #414042; border: 2px solid #b4b4b4; padding: 6px; display: block; text-align: center; }
	#nossasStartups .intro-startup a.goto-site i { padding-left: 5px; }
	#nossasStartups .intro-startup a.goto-site:hover { background: none; }
	
	#quemSomos .list-members .co-member { width: 50%; float: left; overflow: inherit; margin-bottom: 30px; }
	#quemSomos .list-members .co-member .img-member span.shadow-mask { display: none; }
	#quemSomos .list-members .co-member:hover .img-member span.shadow-mask { display: none; } 
	#quemSomos .list-members .co-member .infos-member { position: relative; top: inherit; width: 100%; text-align: center; }
	#quemSomos .list-members .co-member:hover .infos-member { top: 0;
		-webkit-transform: translateY( 0 );
    	-moz-transform: translateY( 0 );
    	transform: translateY( 0 );
	}
	#quemSomos .list-members .co-member .infos-member p { color: #414042; font-size: 18px; }
	#quemSomos .list-members .co-member .infos-member p.name { font-size: 22px; line-height: 28px; }
	#quemSomos .list-members .co-member .infos-member a.social { font-size: 28px; color: #414042; }
	
	#contato .area-form { width: 80%; padding: 15px; }
	#contato .area-form input.medium { width: 90%; display: block; margin: 0 auto 10px; }
	#contato .area-form input.medium:nth-child(2) { margin-bottom: 0; }
	
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	
	header .bar-menu { top: 0; left: -100%; width: 100%; height: auto; text-align: left; padding-top: 100px; }
	header .bar-menu.openMenu { left: 0; }
	header .bar-menu .scroll { display: block;}
	header .bar-menu a { display: block; }
	header .bar-menu .area-social { display: block; text-align: center; }
	header .bar-menu .area-social a { display: inline-block; }
	
	#empresaLivre .area-text p { font-size: 18px; line-height: 30px; padding: 0 20px; }
	
	#nossasStartups .list-startups .startup { width: 100%; float: none; margin-bottom: 30px; }
	#nossasStartups .startup .content-startup { position: relative; top: inherit; left: inherit; }
	#nossasStartups .startup:hover .shadow-mask { background: none; }
	#nossasStartups .s-title { padding: 20px 15px; }
	#nossasStartups .s-title h3 { font-size: 40px; line-height: 50px; color: #414042; }
	#nossasStartups .s-title h4 { font-size: 20px; line-height: 30px; color: #414042; }
	#nossasStartups .intro-startup { padding: 0 15px; opacity: 1; }
	#nossasStartups .startup:hover .intro-startup { opacity: 1; }
	#nossasStartups .intro-startup p { font-size: 18px; line-height: 26px; margin-bottom: 15px; color: #414042;  }
	#nossasStartups .intro-startup a.goto-site { color: #414042; border: 2px solid #b4b4b4; padding: 6px; display: block; text-align: center; }
	#nossasStartups .intro-startup a.goto-site i { padding-left: 5px; }
	#nossasStartups .intro-startup a.goto-site:hover { background: none; }
	
	#quemSomos .list-members .co-member { width: 33.3%; float: left; overflow: inherit; margin-bottom: 30px; }
	#quemSomos .list-members .co-member .img-member span.shadow-mask { display: none; }
	#quemSomos .list-members .co-member:hover .img-member span.shadow-mask { display: none; } 
	#quemSomos .list-members .co-member .infos-member { position: relative; top: inherit; width: 100%; text-align: center; }
	#quemSomos .list-members .co-member:hover .infos-member { top: 0;
		-webkit-transform: translateY( 0 );
    	-moz-transform: translateY( 0 );
    	transform: translateY( 0 );
	}
	#quemSomos .list-members .co-member .infos-member p { color: #414042; font-size: 16px; }
	#quemSomos .list-members .co-member .infos-member p.name { font-size: 18px; line-height: 28px; }
	#quemSomos .list-members .co-member .infos-member a.social { font-size: 28px; color: #414042; }
	
	#contato .area-form { width: 80%; padding: 15px; }
	#contato .area-form input.medium { width: 90%; display: block; margin: 0 auto 10px; }
	#contato .area-form input.medium:nth-child(2) { margin-bottom: 0; }
	
}

@media only screen and (min-width: 600px) and (max-width: 769px) {
	#quemSomos .list-members .co-member .infos-member p { color: #414042; font-size: 18px; }
	#quemSomos .list-members .co-member .infos-member p.name { font-size: 22px; line-height: 28px; }
}

@media only screen and (min-width: 769px) and (max-width: 1100px) {
	
	header .bar-menu a { font-size: 16px; padding: 0 5px; }
	
	#nossasStartups .s-title { padding: 15px; }
	#nossasStartups .s-title h3 { font-size: 30px; line-height: 32px; }
	#nossasStartups .s-title h4 { font-size: 18px; line-height: 22px; }
	#nossasStartups .intro-startup { padding: 0 15px; }
	#nossasStartups .intro-startup p { font-size: 15px; line-height: 18px; margin-bottom: 10px; }
	#nossasStartups .intro-startup a.goto-site { font-size: 15px; line-height: 20px; padding: 3px; }
	#nossasStartups .intro-startup a.goto-site i { padding-left: 5px; }
	
	#quemSomos .list-members .co-member { width: 25%; }
	#quemSomos .list-members .co-member .infos-member p { font-size: 18px; line-height: 22px; }
	#quemSomos .list-members .co-member .infos-member p.name { font-weight: 700; font-size: 25px; line-height: 30px; }
	#quemSomos .list-members .co-member .infos-member a.social { color: #FFF; font-size: 30px; line-height: 40px; margin: 0 3px; }
	
	#contato .area-form { width: 80%; padding: 15px; }
	#contato .area-form input.medium { width: 90%; display: block; margin: 0 auto 10px; }
	#contato .area-form input.medium:nth-child(2) { margin-bottom: 0; }
	
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
	
	header .bar-menu { top: -140px; height: 70px; padding-top: 70px; }
	header .bar-menu a { font-size: 16px; padding: 0 5px; }
	
}

@media only screen and (min-width: 1101px) and (max-width: 1280px) {
	
	#nossasStartups .s-title { padding: 15px; }
	#nossasStartups .s-title h3 { font-size: 40px; line-height: 42px; }
	#nossasStartups .s-title h4 { font-size: 22px; line-height: 30px; }
	#nossasStartups .intro-startup { padding: 0 15px; }
	#nossasStartups .intro-startup p { font-size: 18px; line-height: 25px; margin-bottom: 10px; }
	#nossasStartups .intro-startup a.goto-site { font-size: 15px; line-height: 20px; padding: 3px; }
	#nossasStartups .intro-startup a.goto-site i { padding-left: 5px; }
	
}

@media only screen and (min-width: 1281px) and (max-width: 1366px) {
	

	
}